@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0a0a0a;
  --fg: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --fg: #171717;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-feature-settings: "rlig" 1, "calt" 1;
}
